@font-face {
  font-family: 'Lato Hairline';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Lato-Hairline.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Light Italic';
  font-weight: 300;
  src: url(../fonts/Lato-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Italic';
  font-weight: 400;
  src: url(../fonts/Lato-Italic.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/lato-bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url(../fonts/Oswald-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Oswald SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Oswald-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: 'ShareTechMono';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ShareTechMono-Regular.ttf) format("truetype");
}

body {
  font-family: 'Lato Regular', sans-serif;
  padding-top: 54px;
  background: #241f20;
  color: #d8d1d4;
  letter-spacing: .02em !important;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 16rem;
  }
}

blockquote {
  padding: 0 2em 1em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #968f92;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  color: #fff;
  font-family: 'Lato Regular', sans-serif;
  font-size: 3.25rem;
}

h3 {
  padding-top: 2em;
}

p {
  margin-bottom: 1.5rem;
}

pre {
  color: #28a745;
  display: inline;
  margin: 0 .5em;
}

li {
  margin: .075em 0;
  position: relative;
}

li.icon {
  list-style: none;
  display: inline;
  margin: 1.5em;
}

li.icon:first-child {
  margin-left: -8px;
}

@media (max-width: 768px) {
  li.icon {
    display: block;
    margin-left: -8px;
  }
}

.header img {
  max-width: 543px;
  width: 100%;
}

.header + h5 {
  padding-top: 1em;
}

.subheading {
  font-family: 'ShareTechMono', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.ssid {
  color: #fff;
}

.attribute {
  font-size: .9em;
  font-style: italic;
}

.connected {
  color: #1cb386;
}

.light {
  color: #fff;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #d8d1d4;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  letter-spacing: .02em;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #e6dee3;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #d8d1d4 !important;
  background-image: linear-gradient(45deg, #241f20 25%, #4a4a4a 25%, #4a4a4a 75%, #241f20 75%, #241f20), linear-gradient(45deg, #241f20 25%, #4a4a4a 25%, #4a4a4a 75%, #241f20 75%, #241f20);
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
}

.text-primary {
  color: #d8d1d4 !important;
}

.flex-column {
  padding: 1rem 0;
}

a {
  color: #148ea1;
}

a:hover, a:focus, a:active {
  color: #17a2b8;
}
